<div class="container"> 
  <div class="blog">
    <h1 class="title"> off the blockchain </h1>
    <p> As a Bitcoin owner, it comes to no surprise that I finally made an effort to understand the technology behind the Bitcoin. This effort was partly due to an article "Betting on the Blockchain" that appeared in the most recent MIT Tech Review (vol.120, no.1). That article explained all the fantastic possibilities that lie within the blockchain infrastructure. Unsure of what I would find, I dove deeper into blockchain technology, and was not dissapointed. This blog is about my exploration into the brave, new world of blockchain technology. </p>
    <h1 class="titled"> blockchain technology? </h1>
    <p> A distributed database, updated regularly and shared equally across a network of nodes. This is a complete departure from the traditional, centralized database storage system (think, Visa controls user data on a central server). Which is why blockchain technology is so powerful. The potential to eliminate (minimize) third party (gov / corporation) profiteering from their function as the arbiter of trust. </p>
    <p> A distributed database provides multiple advantages over a centralized model. It lacks a central or single point of failure. Responsibility for maintaining the database is distributed amongst all participants in the network, not in one single entity. Your information is secure (as long as your private keys are secure). </p>
    <p> Transactions on the blockchain are immediate, and can be publicly verified by everyone with access to the blockchain. Transactions can be made on or offline. </p>
    <p> <a href="https://bitcoin.org/bitcoin.pdf">Nerd out on the original Blockchain / Bitcoin paper!</a></p>
    <h1 class="titled"> potential applications </h1>
    <h6> (other than cryptocurrency) </h6>
    <ul> 
      <h3> social benefit</h3>
      <li> international remittances </li>
      <li> financial inclusion </li>
    </ul>
    <ul> 
      <h3> business </h3> 
      <li> private blockchains </li>
      <li> smart contracts </li>
      <li> intellectual property </li>
      <li> stock market trading </li>
    </ul>
    <ul> 
      <h3> government </h3>
      <li> voting </li>
      <li> land registry </li>
      <li> aid </li>
    </ul>
  </div>
</div>