<div class="container">
  <h1 class="title" style="text-decoration: underline;"> Blogs </h1>
  <h3><a href="/blogs/blockchain"> off the blockchain </a></h3>
  <h5> re: blockchain tech </h5>
  <br>
  <h3><a href="/blogs/watson"> the day the music died </a></h3>
  <h5> re: music, AlchemyAPI, Watson, sentiment analysis </h5>
  <br>
  <h3><a href="/blogs/tdd4l"> TDD4LIFE </a></h3>
  <h5> re: testing </h5>
</div>