<div class="container">
  <h1> Blogs </h1>
  <a href="/blogs/blockchain"> off the blockchain </a>
  <br>
  <a href="/blogs/watson"> the day the music died </a>
  <br>
  <a href="/blogs/tdd4l"> TDD4LIFE </a>
</div>