@import "bootstrap-sprockets";
@import "bootstrap";

html,
body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.navbar {
  background: lightgray;
  padding: 15px;
}

.blog {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  .title {
    font-weight: bold;
  }
  .quote {
    font-style: italic;
  }
  .titled {
    font-size: 1.2em;
    font-weight: bold;
  }
  p, li {
    text-align: left;
  }
  img {
    width: 100%;
    border-radius: 3px;
  }
}

.navbar-right > a {
  margin: 10px;
  font-size: 1.4em;
}

.navbar-left > a {
  margin: 10px;
  font-size: 1.8em;
  color: black;
}

.container {
  margin-top:50px;
  height: 100%;
  width: 100%;
}

.dashboard {
  background-image: url('record.gif');
  background-size: cover;
  height: 80%;
  width: 100%;
  padding-top: 10%;
}

.links {
  background: lightgrey;
  padding: 20px;
  position: absolute;
  bottom: 0;
  margin-left: -15px;
}

.link_png {
  max-width:100px;
  margin: 10px;
}

.link_png:hover{
	    max-width: 100px; /* Same dimensions as .icon */
	    content: ""; /* Allows psuedo element to show */
	    background: white; /* The color you want the icon to change to */
	    mix-blend-mode: screen; /* Only apply color on top of white, use screen if icon is black */
      border-radius: 90%;
    }

th {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.splash {
  background: #4CEA99;
  border-radius: 10px;
  opacity: 0.9;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  img {
    height: 100px;
    border-radius: 50%;
  }
  iframe {
    margin-top: 15px;
    border-radius: 10px;
  }
}

.spotify {
  width:200px;
  height:50px;
  background:white;
  border-radius:10px;
  border:0;
  padding: 10px;
  font-size:20px;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.project_preview {
  padding: 10px;
  height: 350px;
  img {
    max-width: 250px;
    min-height: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
}



