<div class="container">
  <div class="dashboard">
  </div>
  <div class="links">
    <a href="https://www.github.com/njgheorghita" target="_blank"><%= image_tag("github.png", :class => 'link_png') %></a>
    <a href="https://www.linkedin.com/in/njgheorghita" target="_blank"><%= image_tag("linkedin.png", :class => 'link_png') %></a>
    <a href="https://soundcloud.com/ghitakcË" target="_blank"><%= image_tag("soundcloud.png", :class => 'link_png') %></a>
  </div>
</div>