  <div class="dashboard">
    <!--div class="splash">
        <% if @random_suggestion %>
          <%= image_tag(@random_suggestion.artists.first.images.first["url"])%>
          <br>
          <iframe src=<%= @random_suggestion_uri %> width="500" height="100" frameborder="0" allowtransparency="true"></iframe>
          <br>
          <%= link_to 'refresh', '/auth/spotify', :class => 'spotify' %>
        <% else %>
          <h2> 
            looking for a jam? 
            <br> 
            sign in, and dance. 
          </h2>
          <br>
          <%= link_to 'Sign in with Spotify', '/auth/spotify', :class => 'spotify' %>
        <% end %>
    </div-->
    
  </div>
  <footer class="links">
    <div>
      <h3> <a href="http://blockchain-credit-bureau.herokuapp.com/" target="blank">Bureau</a> : a decentralized credit bureau for MFIs built on Ethereum (<a href="https://github.com/njgheorghita/bureau" target="blank">repo</a>)</h3>
      <h3> <a href="https://bookchain.herokuapp.com/" target="blank">Bookchain</a> : a library app built on Ethereum (private repo) </h3>
    </div>
  </footer>
