<div class="container">
  <h1> projects </h1>

  <table class="table">
    <tr> 
      <th> name </th>
      <th> description </th>
      <th> technologies </th>
      <th> team </th>
      <th> github </th>
      <th> commit count </th>
    </tr>
    <tr>
      <td> <a href="https://bikeshareanalytics.herokuapp.com/" target="_blank"> Bike Share </a></td>
      <td> application to dynamically analyze SF bikeshare program data </td>
      <td> ruby, sinatra, sanfran bikeshare program data </td>
      <td> group (4) </td>
      <td> <a href="https://github.com/cews7/bike-share" target="_blank"> repo </a></td>
    </tr>
    <tr>
      <td><a href="https://mixmaster.herokuapp.com/" target="_blank"> Mixmaster </a></td>
      <td> website to finally understand the best electronic song/artist of all time </td>
      <td> ruby, rails </td>
      <td> solo </td>
      <td> <a href="https://mixmaster.herokuapp.com/" target="_blank"> repo </a></td>
    </tr>
    <tr>
      <td> <a href="https://bl.ocks.org/njgheorghita/7cc659db9fafe1feb3c525e03a680651" target="_blank"> Black Thursday </a></td>
      <td> back-end infrastructure and visualizer of etsy customer and merchant data </td>
      <td> ruby, d3.js, etsy store data </td>
      <td> group (2) </td>
      <td> <a href="https://github.com/wlffann/black_thursday" target="_blank"> repo </a></td>
    </tr>
    <tr>
      <td> <a href="https://jobtracker100.herokuapp.com/" target="_blank"> Job Tracker </a></td>
      <td> application to help facilitate the job hunt </td>
      <td> ruby, rails </td>
      <td> solo </td>
      <td> <a href="https://jobtracker100.herokuapp.com/" target="_blank"> repo </a></td>
    </tr>
    <tr>
      <td><a href="https://lobbify.herokuapp.com/" target="_blank"> Lobbify </a></td>
      <td> online web store selling special events with senators </td>
      <td> ruby, rails</td>
      <td> group (4)</td>
      <td> <a href="https://lobbify.herokuapp.com/" target="_blank"> repo </a></td>
    </tr>
  </table>
</div>