<div class="container">
  <h1> projects </h1>

  <table class="table">
    <tr> 
      <th> name </th>
      <th> description </th>
      <th> technologies </th>
    </tr>
    <tr>
      <td> <a href="https://bikeshareanalytics.herokuapp.com/" target="_blank"> Bike Share </a></td>
      <td> group project: application to dynamically analyze SF bikeshare program data </td>
    </tr>
    <tr>
      <td><a href="https://mixmaster.herokuapp.com/" target="_blank"> Mixmaster </a></td>
      <td> solo project: website to finally understand the best electronic song/artist of all time </td>
    </tr>
    <tr>
      <td> Black Thursday: <a href="https://github.com/wlffann/black_thursday" target="_blank"> Code</a>, <a href="https://bl.ocks.org/njgheorghita/7cc659db9fafe1feb3c525e03a680651" target="_blank"> Visualized </a></td>
      <td> group project: back-end infrastructure and visualizer of etsy customer and merchant data </td>
    </tr>
    <tr>
      <td> <a href="https://jobtracker100.herokuapp.com/" target="_blank"> Job Tracker </a></td>
      <td> solo project: application to help facilitate the job hunt </td>
    </tr>
    <tr>
      <td><a href="https://lobbify.herokuapp.com/" target="_blank"> Lobbify </a></td>
      <td> group project: online web store selling special events with senators </td>
    </tr>
  </table>
</div>