<header>
  <nav class="navbar navbar-inverse navbar-fixed-top navbar-pushin">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <a href="/"> nick gheorghita </a>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div>
            <a href="https://www.github.com/njgheorghita" target="_blank"><%= image_tag("github.png", :class => 'link_png') %></a>
            <a href="https://medium.com/@nickgheorghita" target="_blank"><%= image_tag("medium.png", :class => 'link_png') %></a>
            <a href="https://www.linkedin.com/in/njgheorghita" target="_blank"><%= image_tag("linkedin.png", :class => 'link_png') %></a>
            <a href="https://soundcloud.com/ghitakc/tracks" target="_blank"><%= image_tag("soundcloud.png", :class => 'link_png') %></a>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>
