<header>
  <nav class="navbar navbar-inverse navbar-fixed-top navbar-pushin">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <a href="/"> nick gheorghita </a>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <a href="#"> blogs </a>
          <a href="/projects"> projects </a>
        </ul>
      </div>
    </div>
  </nav>
</header>
